
    main{
        background-color:#282a32;
        .terminos{
            h2{
                color: white;
                margin-top: 65px;
                display: flex;
                text-align: center;
            }
            .col-4{
                color: white;
                display: flex;
                text-align: center;
                padding: 10px;
                background: #4776e6;
                margin-bottom: 50px;

            }
        }
        img{
            width: 536px;
            height: 132px;
            margin-left: 70px;
            margin-bottom: 20px;
        }
    }

