/* TIPOGRAFIA */
$letra-principal:30px;
$grosor-p:700;
$letra-secun:27px;
$grosor-s:500;

/* COLORES */
$color-1:#144c84;
$color-2:#3488d8;
$color-oscuro: #212529;
$color-claro: #c4cacf;



